*.fig
*.avi
*.asv
*.pdb
*.obj
*.mat
*.log
*.m~
*.suo
*.pdf
#*
.git
.DS_Store
obsolete
downloaded
cellsort_preprocessed_data
__MACOSX/*
*.dll
*.pdb
*.lib
*.mmap
*.out
*.swp
Thumbs.db
*.tif
*.png

*.mexw64
*.exe
*.dll